::selection{
    background: #2D2F36;
}
::-moz-selection{
    background: #2D2F36;
}

body {
    background: white;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}

.page {
    background-image: url(./background.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
  }
.Mname{
    margin-top: -150px;;
    color: #000000;
    background-color: #ffffff;
    width: 15%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}
.login-form {
    display: flex;
    height: 320px;
    margin: 0 auto;
    padding-left: 500px;
    width: 640px;
    height: 400px;
}
.left {
    background: white;
    opacity: 0.85;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
    border-radius: 10px;
}


.login-form h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}

.note{
    color: grey;
    font-size: 18px;
    line-height: 1.5;
    margin: 40px;
}
.right {
    background: #474A59;

    opacity: 0.9;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 55%;
    border-radius: 20px;
  }

.form{
    margin: 30px;
    margin-top: 50px;
    position: absolute;
}


.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    border-radius: 15px;
    margin-top: 25px;
    box-sizing:border-box;
    font-size: 15px;
    background-color:#fff;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #474A59;
    border: 2px solid;
    border-color:#e2e2e5;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    margin-top: 30px;
}

.change{
    margin-top: 30px;;
}
.forgotpass,
.regist{
    text-decoration: none;
    color: #ffffff;
}

.forgotpass{
    text-align: right;
    float: right;
}

.return-button{
    width: 100%;
    padding: 15px;
    background-color: #356596;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
}
.text-danger{
    margin-top: 15px;
    color: yellow;
}
